
.profileContainer {
    margin-top: 5vh;
    display: flex;
    gap: 60px;
    align-items: flex-start;
    width: 100%;
}

.nav {
    margin-top: 10vh;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
}

.link {
    text-decoration: none;
    flex-grow: 0;
}

.activeLink {
    color:white;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}