.main {
    width: var(--container_width);
    height: calc(100% - 120px);  
    /* ничего умнее не придумал. из высоты body нужно вычесть высоту хедера, которая зависит 
       от контента и оттого неизвестна. взял с запасом. иначе 100% родителя - это 100vh */
    flex-grow: 1;
    margin: auto;
}