.contentContainer {
    max-height: calc((80px * 5) + (16px * 4));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    overflow-y: overlay!important;
}

.anElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.anElement > svg {
    cursor: pointer;
}