.fillingContainer {
    max-height: calc((80px * 5) + (16px * 4));
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: overlay!important;
    align-self: stretch;
}

.emptyFilling {
    display: flex;
    background-color: var(--background-element);
    max-width: 536px;
    width: 100%;
    height: 350px;
    align-self: flex-end;
    border-radius: 40px;
    box-sizing: border-box;
}

.emptyFilling > h3 {
    margin: auto;
    text-align: center;
}

.emptyFilling.hovered {
    border: 2px dashed white;
    opacity: 0.5;
}