.buttonArea {
    align-self: flex-end;
}

.cancel {
    text-decoration: none;
}

.inactiveCancel {
    cursor: default;
}

.form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: max-content;
}